<mat-toolbar color="primary">
  <div class="left-side-toolbar">
    <span class="clickable">
      TechBank
    </span>
    <span class="clickable">
      Retirar
    </span>
    <span class="clickable" (click) ="goTranfers()">
      Tranferencia
    </span>
  </div>

  <div class="right-side-toolbar">
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
